<div class="tasks__notification {{background}}">
    <div class="notification__bg--left">
        <div class="notification__icon">
            <span class="icon-tomato-{{type}} notification__pomodoro"></span>
        </div>
    </div>
    <div class="notification__content {{background}}">
        <div class="notification__left-side">
            <span class="notification__text">{{text}}</span>
        </div>
        <div class="notification__filler"></div>
        <div class="notification__right-side">
            <div class="notification__close">
                <span class="icon-close notification__close-icon"></span>
            </div>
        </div>
    </div>
