<div class="timer-title">
    <span class="timer-title__h">{{title}}</span>
    <span class="timer-title__p">{{description}}</span>
    <div class="timer-title__icons">
        <div class="pomodors-icons">

        </div>
        <button class="icon-add timer__add-icon"></button>
    </div>
</div>
<div class="timer__frame">
        <button class="icon-arrow-left timer__arrow"></button>
        <div class="timer__cycle">
        </div>
        <button class="icon-arrow-right timer__arrow-right hidden"></button>
</div>

<div class="timer__buttons">
    <button class="timer__start">Start</button>
    <button class="timer__fail--inProgress hidden">Fail Pomodora</button>
    <button class="timer__finish--inProgress hidden">Finish Pomodora</button>
    <button class="timer__finish-task hidden">Finish Task</button>
</div>


