<div class="timer-title">
    <span class="timer-title__h">{{title}}</span>
    <span class="timer-title__p">{{description}}</span>
    <div class="timer-title__icons">
        <button class="icon-add timer__add-icon"></button>
    </div>
</div>
<div class="timer__meter">
    <section>
        <button class="icon-arrow-left timer__arrow"></button>
        <img src="../images/timer-letsDoIT.png" class="meter__image">
    </section>
</div>
<div class="timer__buttons">
    <button class="timer__start">Start</button>
</div>