<main class="main">
    <div class="reports-tabs">
        <div class="reports-tabs__list period">
            <button class="reports-tabs__day tabs">Day</button>
            <div class="tabs__edge"></div>
            <button class="reports-tabs__week tabs">Week</button>
            <div class="tabs__edge"></div>
            <button class="reports-tabs__month tabs">Month</button>
        </div>
    </div>
    <section>
        <div class="graph">
            <button class="icon-arrow-left reports__arrow"></button>
            <div class="graph__content"></div>
        </div>
    </section>
    <div class="reports-tabs">
        <div class="reports-tabs type">
            <button class="reports-tabs__pomodoros tabs">Pomodoros</button>
            <div class="tabs__edge"></div>
            <button class="reports-tabs__tasks tabs">Tasks</button>
        </div>
    </div>
</main>