<main class="main">
    <div class="reports-tabs">
        <div class="reports-tabs__list">
            <button class="reports-tabs__day tabs">Day</button>
            <div class="tabs__edge"></div>
            <button class="reports-tabs__week tabs">Week</button>
            <div class="tabs__edge"></div>
            <button class="reports-tabs__month tabs">Month</button>
        </div>
    </div>
    <section>
        <div class="graph">
            <button class="icon-arrow-left reports__arrow"></button>
            <img src="../images/01-graph.png" class="graph__image">
        </div>
    </section>
    <div class="reports-tabs">
        <div class="reports-tabs">
            <button class="reports-tabs__Pomodoros tabs">Pomodoros</button>
            <div class="tabs__edge"></div>
            <button class="reports-tabs__tasks tabs">Tasks</button>
        </div>
    </div>
</main>