<div id="highChart" class="reports__high-chart"></div>
<div class="reports__legend">
    <div class="legend__item">
        <div class="urgent legend__square"></div>
        <span class="legend__name">Urgent</span>
    </div>
    <div class="legend__item">
        <div class="high legend__square"></div>
        <span class="legend__name">High</span>
    </div>
    <div class="legend__item">
        <div class="middle legend__square"></div>
        <span class="legend__name">Middle</span>
    </div>
    <div class="legend__item">
        <div class="low legend__square"></div>
        <span class="legend__name">Low</span>
    </div>
    <div class="legend__item">
        <div class="failed legend__square"></div>
        <span class="legend__name">Failed</span>
    </div>
</div>