$first-button_light: #2AC16A;
$second-button_light: #FCD610;
$third-button_light: #FF5543;
$fourth-button_light: #2E8FCE;
$fifth-button_light: #454C4D;
$page-button_light: #F1F4F5;

$first-button_dark: #10A64F;
$second-button_dark: #F1BE00;
$third-button_dark: #E63927;
$fourth-button_dark: #1273B2;
$fifth-button_dark: #464E4F;
$page-button_dark: #D9DCDD;

$first-button_hover: #27AE60;
$second-button_hover: #F0C30F;
$third-button_hover: #E74C3C;
$fourth-button_hover: #297FB8;
$fifth-button_hover: #454C4D;