@import "bootstrap/scss/bootstrap";
@import "bootstrap";

.white {
    color: white !important;
}

.header {
    background-repeat: no-repeat !important;
    height: 680px !important;
    background-size: cover !important;
    color:white;
}

.text-info {
    color: #50c3af !important;
}

.text-secondary {
    color: #6c757d !important;
}

.content {
    display: flex;
    justify-content: center;
}

.benefits__second {
    margin: 0 84px !important;
}

.event__title {
    font-size: 20px
}

.bg-grey {
    background-color: #eeeeef !important;
}

.support__text {
    width: 756px;
}

.content__container{
    width: 756px;
    display: flex;
    justify-content: center
}

.reports-info, .event {
    height: 25rem !important
}

.articles__container, .event__column {
    width: 340px;
}

.support__button {
    background-color: #d2d5da;
    border-radius: 25px !important;
    width: 125px !important;
}

.header__name{
    font-family: 'StyleScript-Regular', cursive !important;
}
.thechCrunch{
    font-family: 'MonteCarlo', cursive !important;
}
.promail{
    font-family: 'Karla', sans-serif !important;
}
.mashable{
    font-family: 'Raleway', sans-serif !important;
}
.atlaspix{
    font-family: 'Raleway', sans-serif !important;
}
.header__subquote{
    font-family: 'PT Sans', sans-serif !important;
}

.header__logo {
    font-family: 'Style Script', cursive !important;
    font-size: 52px !important;
    margin-top: 90px;
}

ul {
    list-style: none;
}

button {
    border: none;
}

.header__button {
    background-color: #50c3af;
    font-family: 'PT Sans', sans-serif;
    width: 235px;
    height: 48px;
    margin-top: 80px;
}

.nav__elem {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px !important;
}

.header__title {
    font-size: 60px !important;
    margin-top: 65px;
}

.header__description {
    font-family: 'PT Sans', sans-serif;
}

.header__description-line {
    background-color: white;
    height: 1px;
    width: 100px;
    display: inline-block;
    content: ' ';
    margin-top: 16px;
}

.header__description-wrapper {
    display: flex
}

.benefits__container>* {
    text-align: center;
}

.benefits__name {
    font-size: 16px;
    font-family: "PTSans", sans-serif;
    color: rgb(56, 64, 72);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
}

.articles__description, .benefits__description  {
    font-size: 16px !important;
    font-family: "PTSans", sans-serif !important;
    color: rgb(120, 123, 128) !important;
    line-height: 1.714 !important
}

.benefits {
    background-color: #eeeeef;
}

.benefits__container {
    width: 200px;
}

.benefits__line {
    background-color: rgb(41, 49, 57);
    opacity: 0.059;
    width: 135px;
    height: 2px;
    margin: auto
}

.articles__line, .support__line, .news__line,  .template-item__border{
    background-color: rgb(41, 49, 57);
    opacity: 0.059;
    height: 2px;
}

.reports-info__column {
    width: 40%;
}

.articles__button {
    border-radius: 25px !important;
}

.support,  {
    height: 23rem;
}

.news {
    height: 30rem;
}

.news__column {
    width:30%;
    max-width: 230px;
}

.news__img {
    width:100%
}

.check-link{
    color:#50c3af !important;
}
.header__subquote{
    font-family: 'PT Sans', sans-serif;
}
.header__button, .articles__button, .sponsors, .info-button{
    background-color: #50c3af !important;
}
.header__description-line {
    background-color: #5c7677 !important;
    height: 1px;
    width: 100px;
    display: inline-block;
    content: ' ';
    margin-top: 16px;
}
.header__description-wrapper {
    display: flex
}

.articles {
    height: 30rem !important;
}

.articles__body {
    height: 30rem !important;
}
