<div class="global-list">
    <div class="global-list__left-side">
        <span class="global-list__name">Global List</span>
        <span class="icon-global-list-arrow-right global-list__arrow"></span>
    </div>
    <div class="global-list__right-side hidden">
        <ul class="global-list__categories">
            <li>All</li>
            <li class="tabs__edge"></li>
            <li>Urgent</li>
            <li class="tabs__edge"></li>
            <li>High</li>
            <li class="tabs__edge"></li>
            <li>Middle</li>
            <li class="tabs__edge"></li>
            <li>Low</li>
        </ul>
    </div>
</div>
<ul class="tasks__list">

</ul>